body  {
  background-image: url('body.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

.photo {
	float: left;
	height: 200px;
	width: 250px;
	border-radius: 50%;
}
div p {
	margin: 100px 20px;
	float: left;
	text-indent: 50px;
  	text-align: justify;
  	letter-spacing: 3px;
  	text-shadow: 2px 2px black;
  	color: white;
  	text-transform: uppercase;
  	font-size: 25px;
  }

.nav {
	margin-right: 20px;
}
.nav , a {
	background-color: grey;
	border: 2px solid blue;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 4px;
	width: auto;
	float: right;
	
}
.nav a:hover{
 background-color:red;
}
.navbar {
	background-color: yellow;
	color: black;
}

.form {
	margin-top: 10%;
	margin-left: 35%;
	width: 25%;
	background-color: grey;
	border: 5px solid blue;
	border-bottom-color: yellow;
}
form {
	height: 150px;
	margin-top: 30px;
	margin-left: 25px;
	color: black;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	text-decoration-style: wavy;
	text-shadow: px black;
}
input {
  width: 50%;
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
}
button {
	border-radius: 12px;
	padding: 10px 24px;
	font-size: 16px;
}

table tr,th,td {
	border: 2px solid black;
	text-align: center;
	width: 200px;
	

}